# check for other errors and correct container start
# check with http://localhost:9200/
# check with http://localhost:9201/
# check with http://localhost:9202/
#  wsl -d docker-desktop
#  sysctl -w vm.max_map_count=262144
services:

  es01:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.1
    image: docker.elastic.co/elasticsearch/elasticsearch:latest
    container_name: es01
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es02,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic_network

  es02:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.1
    image: docker.elastic.co/elasticsearch/elasticsearch:latest
    container_name: es02
    environment:
      - node.name=es02
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es03
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data02:/usr/share/elasticsearch/data
    ports:
      - 9201:9200
    networks:
      - elastic_network

  es03:
#    image: docker.elastic.co/elasticsearch/elasticsearch:7.5.1
    image: docker.elastic.co/elasticsearch/elasticsearch:latest
    container_name: es03
    environment:
      - node.name=es03
      - cluster.name=es-docker-cluster
      - discovery.seed_hosts=es01,es02
      - cluster.initial_master_nodes=es01,es02,es03
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data03:/usr/share/elasticsearch/data
    ports:
      - 9202:9200
    networks:
      - elastic_network

volumes:
  data01:
    driver: local
  data02:
    driver: local
  data03:
    driver: local

networks:
  elastic_network:
    driver: bridge